/* .sidebar.open{
   display: none;
} */
.side{
    
    
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
      
        z-index: 1000;
      
}
.menu-icon{
    display: visible;
    color:red;
    cursor: pointer;
}

.sidebar.open {
    /* position: fixed;
    top: 80;
    left: -250px; /* Initially hide the sidebar */
    /* width: 250px;
    height: 100%; */ 
    background-color: #333; /* Sidebar background color */
    transition: left 0.3s ease-in-out; /* Smooth transition when opening/closing the sidebar */
    width:250px;
    height:100vh;
    

  }
  .icons{
    display:flex;
    justify-content: space-between;
    cursor: pointer;
  }
.ico_class{
    color: white;
    margin-right: 10px;
}
.ico{
    display: none;
    
}
.sidebar_list{
   
    font-size: 20px;
   
    color: #fff;

}
.sidebar_li{
    color: #fff;
    text-decoration: none;
    margin-bottom: 9px;
    margin-top: 10px;
    text-underline-offset: none;
}